<!DOCTYPE HTML>
<html>
<head>
	<title>SUCCESS!</title>
	<link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='success.css')}}">
</head>
<body>
	<div id='wrapper'>
		{% if page == 'register' %}
			<h1>SUCCESS!</h1>
			<p><span>{{first_name}}</span>, you have successfully registered: <span>[{{youremail}}]</span> to our database!</p>
			<h2>Thank you!</h2>
		{% else %}
			<h1>WELCOME BACK <span>{{first_name}}</span>!</h1>
			<p>You have logged in as: <span>[{{youremail}}]</span></p>
		{% endif %}
	</div>
</body>
</html>